.App {
}
h1 {
  font-size: 3.5rem;
  font-family: Menlo;
  font-weight: bold;
}
.app-header {
  grid-area: header;
}

.search-bar {
  grid-area: searchbar;
}

.pet-list {
  grid-area: petlist;
  width: 
}

.pet-details {
  grid-area: petdetails;
}

.footer {
  grid-area: footer;
}

header {
  text-align: center;
  color: navy;
}
